
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

p {
	font-size: 16px;    
	line-height: 2;
	letter-spacing: 1px;
	width: 400px;
}

ul {
	margin: 0;
}

html {
	overflow-x: hidden;
	font-size: 10px;
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-size: 60px;
	margin: 0;
 	padding: 0px 0px;
}

img {
	display: block;
	box-shadow: 5px;	
 	margin: 0 auto;
}

body {
	margin: 0;
	overflow-x: hidden;
}

@keyframes slide-in {
	from {
	    left: -20%;
	    opacity: 0;
    }

    20% {
    	opacity: 0.1;
    }

  	to {  	
    	opacity: 1;
  	}
}

@keyframes reveal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.term > hr {
	margin-top: 10px;
	width: 300px;
}

.tabs {
    position: relative;
    bottom: 10%;
    left: 45%;
    width: 665.5px;
}

.tab, .tab-title {
	display: inline-block;
}

.tab input[type="radio"] {
 	display: none; 
}

.tab-title {
	font-size: 20px;
	color: #A0A0A0;
	width: 200px;
	text-align: center;
	padding: 5px 10px;
}

.tab-content {
	position: absolute;
	color: #FFFFFF;
	font-size: 18px;
	word-spacing: 2px;
	padding-top: 20px;
	left: 0;
	width: 630px;
	display: none;
}

.tab > input:checked ~ .tab-title {
	border-bottom: 1px solid white;
	position: relative;
	color: #FFFFFF;
	background: linear-gradient(to top, rgb(60,60,60,.4), rgb(60,60,60,0)); 
	z-index: 1;
}

.tab :checked ~ .tab-content {
	animation-name: slide-in;
	animation-duration: 1s; 
	display: block;
}


.term {
	position: relative;
	animation-name: reveal;
	animation-duration: 2.3s;
	width: 400px;
	left: calc(20% - 200px);
	top: 20%;
	vertical-align: middle;
	text-align: center;
}

.coffee, .coffee > .def {
	color: #F1F1F1;
}

.mint, .mint > .def{
	color: #a7e9af;
}


.def {
	position: relative;
	overflow: hidden;
	animation-name: slide-in;
	animation-duration: 1.3s; 
	font-size: 18px;
	text-align: left;
	top: calc(20% + 5px);
	left: calc(20% - 145px);
	width: 290px;
}

.ref:hover {
	color: #006363;
}



.coffee {
	background-color: #232020;
	height: 600px;
}

.block2 {
	background-color: #E1F4F3;
	height: 600px;
}

.mint {
	background-color: #333333;
	height: 600px;
}

.block4 {
	background-color: #FFFFFF;
	height: 600px;
}
