
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

p {
	font-size: 16px;    
	line-height: 2;
}


ul {
	margin: 0;
}

html {
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

h1 {
	font-size: 30px;
	margin: 15px;
 	padding: 0px 0px;
}


body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
 	align-content: stretch;
 	min-height: 100%;
 	z-index: -1;
}

body::after {
	position: fixed;
	content: '';
	background: linear-gradient(to right top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
	background-attachment: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

table {
	position: relative;
	margin-top: 100px;
	margin-bottom: 150px;
	border-spacing: 10px;
	width: 85%;
	z-index: 1;
}

iframe {
	float: left;
	border-width: 0px;
	height: 100%;
	max-width: 400px;
	width: 30%;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	border-bottom: 1px solid blue;
}

.checked_cell {
	position: relative;
}

.checked_cell::after {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;
	height: 16px;
	width: 16px;
	border-radius: 50%;
	animation: 0.3s ease-in-out 0s radio-focus;
	animation-fill-mode: forwards;
	background-color: white;
}

@keyframes radio-focus {
	from {
		opacity: 0;
	}	
	to {
		opacity: 1;
	}
}

.radio {
	border-radius: 50%;
	box-shadow: 0px 0px 0px 3px white;
	margin: 8px;
	height: 18px;
	width: 18px;
}

.radioset {
	position: absolute;
	right: 0px;
	z-index: 5;
}


.infoblock {
	display: flex;
	background-color: white;
	bottom: 0px;
	width: 100%;
	height: 25%;
	position: fixed;
	z-index: 10;
}

.infoheader {
	margin-bottom: 5px;
}

.description {
	position: relative;
	float: left;
	width: 60%;
	max-width: 700px;
}

.description > p {
	font-size: 18px;
	overflow-y: auto;
	margin: 15px;
	margin-top: 0px;
	width: 100%;
	height: 70%;
	line-height: 1.5;
}

::-webkit-scrollbar {
    display: none;
}

.publisher, .developer, .stores, .genres {
	font-size: 20px;
	line-height: 15px;
	margin: 10px;
}

.checked::after {
	transition: all 0.3s ease-in-out;
	border: 3px solid white;
}


.details {
	float: left;
	display: block;
	margin: 15px;
	margin-left: 30px;
}

.closeinfo {
	outline: none;
	position: absolute;
	right: 0px;
	height: 100%;
	float: right;
	transition: background-color 0.2s ease-in-out;
	border: none;
	width: 3%;
	min-width: 40px;
	background-color: #EFEFEF;
	cursor: pointer;
}

.buttontext {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(90deg);
	letter-spacing: 15px;
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	color: #AAAAAA;
	margin: 0px;
}

.closeinfo:hover {
	background-color: #DDDDDD;
}

.weekdays {
	position: relative;
	display: table-row;
	z-index: 2;
}

.weekdays th {
	text-transform: uppercase;
	color: white;
	font-size: 26px;
}

#calendar > tbody > tr > td,
#calendar > tbody > tr > div {
	position: relative;
	transition: all .3s ease-in-out;
 	background-repeat: no-repeat;
  	background-size: cover;
 	background-position: center;
	background-color: #25323D;
	height: 160px;
	width: 20%;
	border-radius: 15px;
	padding: 0px;	
	z-index: 1;
}

div.hasRelease {
	position: relative;
	display: table-cell;
}

div.hasRelease > td {
	position: absolute;
	background-repeat: no-repeat;
  	background-size: cover;
 	background-position: center;
	padding: 0px;
	height: 160px;
	width: 100%;
	border-radius: 15px;
	z-index: 1;
}

#calendar td.hasRelease:after{
	content: '';
	position: absolute;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-radius: 15px;
}

.game_title {
	position: absolute;
	bottom: 32px;
	left: 5px;
	font-size: 17px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.8px;
	z-index: 3;
}

.day {
	display: flex;
	background-color: #15171A;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 5px;
	left: 5px;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0;
}

.WrongMonth {
	opacity: 60%;
}

.icon {
	margin: 3px;
	display: inline-block;
	vertical-align: bottom;	
}

.iconset {
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 3;
}




@keyframes slide-in {
	from {
	    left: -20%;
	    opacity: 0;
    }

    20% {
    	opacity: 0.1;
    }

  	to {  	
    	opacity: 1;
  	}
}

@keyframes reveal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes reveal-second {
	to {
		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
	}
}
