
@import url('https://fonts.googleapis.com/css?family=Ropa+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz&display=swap');

p {
	font-size: 16px;    
	line-height: 2;
	letter-spacing: 1px;
	width: 400px;
}


ul {
	margin: 0;
}

html {
	overflow-x: hidden;
	
	font-size: 18px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
}

h1 {
	font-size: 60px;
	margin: 0;
 	padding: 0px 0px;
}


body {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
 	align-content: stretch;
 	min-height: 100%;
 	z-index: -1;
}

body::after {
	position: fixed;
	content: '';
	background: linear-gradient(to right top, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0.8) 80%, rgba(0, 0, 0, 0) 100%);
	background-attachment: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 0;
}

table {
	position: relative;
	margin-top: 100px;
	margin-bottom: 150px;
	border-spacing: 10px;
	width: 85%;
	z-index: 1;
}


.weekdays {
	position: relative;
	display: table-row;
	z-index: 2;
}

.weekdays th {
	text-transform: uppercase;
	color: white;
	font-size: 26px;
}

#calendar > tbody > tr > td {
	position: relative;
	transition: all .3s ease-in-out;
 	background-repeat: no-repeat;
  	background-size: cover;
 	background-position: center;
	background-color: #25323D;
	height: 160px;
	width: 20%;
	border-radius: 15px;
	padding: 0px;	
	z-index: 1;
}

.SecondRelease {
	width: 100%;
	clip-path: polygon(100% 0%, 0% 0%, 0% 100%);
	position: absolute;
	transition: all .3s ease-in-out;
 	background-repeat: no-repeat;
  	background-size: cover;
 	background-position: center;
	background-color: #25323D;
	height: 160px;
	border-radius: 15px;
	padding: 0px;	
	z-index: 1;
}

.SecondRelease:hover {
	clip-path: polygon(200% 0%, 0% 0%, 0% 200%);
}

.FirstRelease {
	height: 160px;
	width: 100%;
	position: absolute;
	clip-path: polygon(100% 0%, 100% 100%, 0% 100%);
	transition: all .3s ease-in-out;
	background-repeat: no-repeat;
  	background-size: cover;
 	background-position: right;
 	border-radius: 15px;
 	padding: 0px;
 	z-index: 1;
}

.FirstRelease:hover {
	clip-path: polygon(100% -100%, 100% 100%, -100% 100%);
}

div.hasRelease {
	position: relative;
	display: table-cell;
}



#calendar td.hasRelease:after{
	content: '';
	position: absolute;
	background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 2;
	border-radius: 15px;
}

#calendar td.hasRelease:hover {
	z-index: 3;
	transform: scale(1.85);
}

.game_title {
	position: absolute;
	bottom: 32px;
	left: 5px;
	font-size: 17px;
	font-weight: bold;
	color: white;
	letter-spacing: 0.8px;
	z-index: 3;
}

.day {
	display: flex;
	background-color: #15171A;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 5px;
	left: 5px;
	color: white;
	height: 30px;
	width: 30px;
	margin: 0;
}

.WrongMonth {
	opacity: 60%;
}

.icon {
	margin: 3px;
	display: inline-block;
	vertical-align: bottom;	
}

.iconset {
	position: absolute;
	left: 5px;
	bottom: 5px;
	z-index: 3;
}




@keyframes slide-in {
	from {
	    left: -20%;
	    opacity: 0;
    }

    20% {
    	opacity: 0.1;
    }

  	to {  	
    	opacity: 1;
  	}
}

@keyframes reveal {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes reveal-second {
	to {
		clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
	}
}
